.header {
  font-family: sans-serif;
  text-align: center;
}

.website-description {
  text-align: center;
  margin: 20px;
}

.col {
  border: 1px solid black;
  text-align: center;
}

.random-female-button {
  background-color: #EE83C6;
  border-color: #E964B8;
}

.random-female-button:hover {
  background-color: #E964B8;
}

ul {
  padding: 0;
  list-style-type: none;
}

.favorite-item {
  list-style: none;
}

.favorite-remove {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.favorite-item:hover .favorite-remove {
  display: inline;
  position: absolute;
}

.favorite-item button:focus {
  outline: 0;
}

.random-name-add {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.random-name:hover .random-name-add{
  display: inline;
  position: absolute;
}