.header {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.col {
  border: 1px solid black;
  text-align: center;
  padding-bottom: 20px;
}

#search-results {
  text-align: left;
  margin-left: 20px;
}

#search-input {
  margin-top: 13px;
}

#search-nav {
  margin: 20px;
}

.random-options {
  margin-top: 20px;
}

.female-button {
  background-color: #EE83C6;
  border-color: #E964B8;
}

.female-button:hover {
  background-color: #E964B8;
}

#origin-description {
  padding-top: 10px;
  font-style: italic;
}

#random-button {
  margin-top: 10px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.favorite-item {
  list-style: none;
  margin-bottom: -10px;
}

.favorite-remove {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.favorite-item:hover .favorite-remove {
  display: inline;
  position: absolute;
}

.rank {
  margin-right: 5px;
}

.rank: hover {
  cursor: default;
}

.button-name {
  margin-bottom: -10px;
}

.button-name-add {
  display: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.button-name:hover .button-name-add {
  display: inline;
  position: absolute;
}

a:hover{
  cursor: pointer;
}